.carousel-caption insta-cap{
    background-color: red;
    color: red;
}
.firstDiv{
    height: 450px;
    width: 100%;
    border-radius: 7px;
}
.secondDiv{
    height: 400px;
    width: 100%;
}
.size{
    padding: 8px;
}
@media screen and (max-width:425px){
    .firstDiv{
        height: 410px;
    }
}