.in-class{
    border-radius: 20px;
    
}
.prime-logo{
    width: 90px;
    border-style: none;
    background-color: black;
}
.setting-logo{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.login-button{
    height: 30px;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
}
.att-class{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-ele{
    font-weight: 500 !important;

}
.hoverEle:hover{
    color:black !important;
}