.in-class{
    border-radius: 20px;
    
}
.prime-logo{
    width: 110px;
    height: 60px;
}
.att-class{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-ele{
    font-weight: 500 !important;

}
.hoverEle:hover{
    color:black !important;
}
.hamburger-button{
    background-color: white;
    border-radius: 5px;
}